#header{
    height: 50%;
    width: 100%;

    border: var(--br);
}

nav{
    height: 75px;
    width: 90%;

    border: var(--br);
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-left: 100px;
    /* background-color: black; */
}

.nav-logo-options{
    height: 100%;
    width: 45%;

    border: var(--br);
    
}



.nav-logo{
    height: 100%;
    width: 20%;

    border: var(--br);
    
}
.nav-logo-container{
    height: 80%;
    width: 90%;
    
    border: var(--br);
    background-image: url("./Assets/logo-micro.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}


.nav-options{
    height: 100%;
    width: 77%;
    
}
.nav-options>a, .nav-actions a{
    color: rgba(0, 0, 0, 0.846);
    text-decoration: none;
    
}.nav-options>a:hover, .nav-actions a:hover{border-bottom: 2px solid black;}

.nav-actions{
    height: 100%;
    width: auto;

    /* gap: 20px; */
    margin-right: 20px;
    justify-content: flex-end;
    gap: 25px;
}
nav-ac-cont{
    height: 100%;
    border: var(--br);
    display: flex;
    align-items: center;
}
nav-ac-cont img{
    height: 17px;
    padding-left: 5px;
}
nav-ac-cont .dropdown{
    position: absolute;
    top: 72px;
    right: 80px;

    background-color: #f2f2f2;
    height: 55vh;
    width: 79vw;
    display: none !important;
    flex-direction: column;
    padding-top: 3vh;
}nav-ac-cont:hover{
    .dropdown{
        display: flex !important;
    }
}

.grid-cont{
    height: 80%;
    width: 95%;
    display: grid;
    border: var(--br);
    grid-template-columns: repeat(6,1fr);
}.grid-cont .items{ display: flex; flex-direction: column; align-items: self-start; justify-content: flex-start; gap:30px; border: var(--br);}
.base-cont{
    height: 60px;
    width: 100%;
    background-color: rgb(209, 209, 209);
    border-bottom: 3px solid ;
}
.base-cont h2{
    font-weight: 400;
    text-transform: uppercase;
    font-size: 16px;
}.base-cont h2:hover{text-decoration: underline;}
.grid-cont .items h2{font-size: 16px; font-weight: 600;}



/* .nav-actions-profile-container{
    height: 100%;
    width: 15%;
}
.nav-actions-profile-container>.profile{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border-width:3px !important;
    border-color: rgba(0, 0, 0, 0.564) !important;
    border-style: solid;
} */




.main-banner{
    height: 60vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    /* border: var(--br); */
    background-image: url("./Assets/Highlight-Surface-Pro-AI-11Ed-Sapphire-MC001-3000x1682_VP5-1920x600.avif");
}

.main-banner-hero{
    height: 60%;
    width: 37%;

    background-color: white;
    margin-top: 60px;
    margin-left: 100px;
    
}

.main-banner-hero-inner{
    height: 70%;
    width: 85%;

    flex-direction: column;
    align-items: flex-start;

}

.main-banner-hero-inner>h1{
    font-size: 48px;
    font-weight: 600;
    text-transform: capitalize;
}
.main-banner-hero-inner>p{
    font-size: 20px;
}
.main-banner-hero-inner>.main-banner-button{
    background-color: #0067B8;
    width: 150px;
    height: 50px;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    font-weight: 600;
}.main-banner-hero-inner>.main-banner-button:hover{background-color: #01599c;}









.main-container-banner-controls{
    height: 8vh;
    width: 100%;


}
.main-conatainer-explorer{
    height: 25vh;
    width: 100%;
    gap: 3.5%;
}
.main-conatainer-explorer> .explorer{
    height: 80%;
    width: auto;
    flex-direction: column;
    padding-top: 90px;
}
.main-conatainer-explorer> .explorer a{
    font-size: 20px;
    font-weight: 600;
    color: #0067b8;
}
.explorer> .logos{
    height: 50px;
    width: 50px;

}
